openapi: 3.0.3
info:
  title: iyzico Payment API
  description: API for processing payments, card encryption, and storage management.
  version: "1.0"
servers:
  - url: https://api.iyzico.com
    description: Production Server

components:
  securitySchemes:
    IYZWSAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "Format: IYZWS + base64Encoded(apiKeyId + ':' + encryptedData(apiKeySecret + ':' + requestData))"

  schemas:
    BaseResponse:
      type: object
      properties:
        status:
          type: string
          enum: [Success, Failure]
        merchantOrderReference:
          type: string
        requestReference:
          type: string
        systemTime:
          type: integer
          format: int64
        errorGroup:
          type: string
        errorCode:
          type: string
        errorMessage:
          type: string

    CardDetails:
      type: object
      properties:
        cardNetwork:
          type: string
        cardBinNumber:
          type: integer
        cardLastFour:
          type: integer
        cardType:
          type: string
        cardCountryCode:
          type: string
        cardExpirationDate:
          type: string
        cardHolderName:
          type: string

paths:
  /cardEncryption:
    post:
      summary: Card Encryption Service
      security:
        - IYZWSAuth: []
      parameters:
        - name: x-idempotency-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchantOrderReference, cardHolderName, cardNumber, cardExpirationDate, cvc]
              properties:
                merchantOrderReference:
                  type: string
                cardHolderName:
                  type: string
                cardNumber:
                  type: string
                cardExpirationDate:
                  type: string
                cvc:
                  type: string
      responses:
        '200':
          description: Successful Encryption
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      cardToken:
                        type: string
                      encryptedCvv:
                        type: string
                      card:
                        $ref: '#/components/schemas/CardDetails'

  /authentication:
    post:
      summary: Authentication
      security:
        - IYZWSAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchantOrderReference, amount, currency]
              properties:
                merchantOrderReference:
                  type: string
                amount:
                  type: number
                currency:
                  type: string
                cardToken:
                  type: string
                encryptedCvv:
                  type: string
                cardUserKey:
                  type: string
      responses:
        '200':
          description: Authentication Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  redirectUrl:
                    type: string
                  htmlContent:
                    type: string

  /authorize:
    post:
      summary: Authorization
      security:
        - IYZWSAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [paymentId, amount, currency, merchantOrderReference]
              properties:
                paymentId:
                  type: string
                amount:
                  type: number
                currency:
                  type: string
                merchantOrderReference:
                  type: string
      responses:
        '200':
          description: Payment Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'

  /capture:
    post:
      summary: Capture Payment
      security:
        - IYZWSAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [paymentId, replacementAmount, currency]
              properties:
                paymentId:
                  type: string
                replacementAmount:
                  type: number
                currency:
                  type: string
      responses:
        '200':
          description: Successful Capture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'

  /cardStorage/create:
    post:
      summary: Create Card in Storage
      security:
        - IYZWSAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardHolderName, cardNumber, cardExpirationDate]
              properties:
                cardHolderName:
                  type: string
                cardNumber:
                  type: string
                cardExpirationDate:
                  type: string
      responses:
        '200':
          description: Card Stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  cardToken:
                    type: string
                  cardUserKey:
                    type: string

  /bins/check:
    post:
      summary: Get BIN Information
      security:
        - IYZWSAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardNumber]
              properties:
                cardNumber:
                  type: string
      responses:
        '200':
          description: BIN details returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDetails'